{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}

<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="col_three_fifth nobottommargin">
        <div class="fancy-title title-bottom-border">
          <h3>Carpintero</h3>
        </div>

          <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Requerimientos</div>
          <div class="acc_content clearfix">
            <ul class="iconlist iconlist-color nobottommargin">
              <li><i class="icon-ok"></i>Calle: Mocorito 45</li>
              <li><i class="icon-ok"></i>Colonia: Polanco</li>
              <li><i class="icon-ok"></i>Telefono: 5541881044</li>
              <li><i class="icon-ok"></i>Descripcion: Solicito un carpintero para realizar tareas en casa.</li>

            </ul>
          </div>


        </div>


      </div>

      <div class="col_two_fifth nobottommargin col_last">

        <div id="job-apply" class="heading-block">
          <h2>Aplica ahora</h2>
          <span>Tendras respuesta pronto!</span>
        </div>



      </div>

    </div>

  </div>

</section><!-- #content end -->

  </div>

{%endblock content%}
